<div class="wrapper text-center">
  <ngx-slider
    [hidden]="isRecording"
    [options]="getOptions()"
    [(value)]="leftValue"
    [(highValue)]="rightValue"
    (valueChange)="setCurrentFrame()"
    (highValueChange)="setCurrentFrame()">
  </ngx-slider>
  <div class="scene-container"></div>
  <div class="row justify-content-center mt-3">
    <mat-button-toggle-group >
      <mat-button-toggle (click)="record()">Record</mat-button-toggle>
      <mat-button-toggle (click)="playback()">Playback</mat-button-toggle>
      <mat-button-toggle (click)="save()">Save</mat-button-toggle>
    </mat-button-toggle-group>
  </div>
</div>
