<form #f="ngForm" (ngSubmit)="f.valid && setProperties()" class="text-center">
  <div>
    <mat-form-field>
      <mat-label>{{'properties.auth.block' | translate }}</mat-label>
      <input matInput type="number" name="authBlock" required
             [(ngModel)]="systemProperties.authBlock"
             #authBlock="ngModel" min="3" max="30">
      <div *ngIf="(authBlock.invalid && authBlock.touched)">
        <small *ngIf="authBlock.errors?.required"
               class="text-danger">{{'field.required' | translate }}</small>
      </div>
    </mat-form-field>
  </div>
  <div>
    <mat-form-field>
      <mat-label>{{'properties.gesture.precision' | translate }}</mat-label>
      <input matInput type="number" name="gesturePrecision" required [(ngModel)]="systemProperties.gesturePrecision"
             #gesturePrecision="ngModel" min="1" max="3">
      <div *ngIf="(gesturePrecision.invalid && gesturePrecision.touched)">
        <small *ngIf="gesturePrecision.errors?.required" class="text-danger">{{'field.required' | translate }}</small>
      </div>
    </mat-form-field>
  </div>
  <div>
    <button type="submit" [disabled]="f.invalid" mat-raised-button
            color="accent">{{'save' | translate }}</button>
    <button type="button" mat-raised-button color="warn" class="float-right"
            (click)="closeDialog()">{{'Return' | translate }}</button>
  </div>
</form>
