<div class="logo-wrapper">
  <img src="assets/img/logo.png" class="logo">
</div>
<mat-nav-list>
  <a mat-list-item routerLink="{{route.path}}" *ngFor="let route of ROUTES">
    <mat-icon>{{route.icon}}</mat-icon>
    {{route.title | translate }}
  </a>
  <a mat-list-item (click)="showChangePasswordDialog()">
    <mat-icon>vpn_key</mat-icon>
    {{'password.change' | translate }}
  </a>
  <a mat-list-item (click)="showChangeSystemPropertiesDialog()">
    <mat-icon>settings</mat-icon>
    {{'system.change.properties' | translate }}
  </a>
  <a mat-list-item routerLink="/auth/leap" (click)="logout()">
    <mat-icon>exit_to_app</mat-icon>
    {{'logout' | translate }}
  </a>
</mat-nav-list>
